<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>診断結果</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>今日の寿司ネタは「<%= @sushi[:name] %>」！</h1>
    <p><%= @sushi[:comment] %></p>
    <img src="<%= @sushi[:image] %>" alt="<%= @sushi[:name] %>" width="200">
    <br><br>
    <a href="/">もう一回診断する</a>
    <br><br>
<a
  href="https://twitter.com/intent/tweet?text=<%= URI.encode_www_form_component("私の今日の寿司ネタは『#{@sushi[:name]}』！#{@sushi[:comment]} 🍣") %>&hashtags=寿司診断"
  target="_blank"
>
  🐟 Xでシェアする
</a>

  </body>
</html>
